body {
    margin: 0;
    padding: 0;
}
*   {font-family: 'Playfair Display', serif;}
*   {font-family: 'PT Sans', sans-serif;}
.container {
    width: 1110px;
    margin: 0 auto;
}

@import "base/header.scss";
@import "base/second.scss";
@import "base/main.scss";
@import "base/season.scss";
